
@import 'https://fonts.googleapis.com/css?family=Lobster|Roboto|Bangers|PT+Sans:700italic,400';

:global(html),:global(body),:global(#root){
	height:100%;
}
:global(body){
	margin: 0;
}
:global(#root){
/*	border:2px solid #ffff00;*/
}
.main{
/*	border:2px solid red;*/
/*	border-radius: 8px;*/
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.label{
	margin: 50px;
}

.router-box,.container-box{
	height:100%;
}